<% @articles.each do |article| %>
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= link_to article.title, article %> <br>
          by <%= link_to article.user.username, article.user %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <%= article.description %>
          <br>
          Created <%= time_ago_in_words(article.created_at) %> ago,
          edited <%= time_ago_in_words(article.updated_at) %> ago.
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to 'Show', article_path(article), class: "card-footer-item" %>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(article), class: "card-footer-item"%>
          <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "card-footer-item" %>
        <% end %>
      </footer>
    </div>
  </div>
<% end %>