<h1 class="has-text-centered title is-2 mt-4">Showing article details</h1>
<div class="container">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= @article.title %> <br>
        by <%= link_to @article.user.username, @article.user %>
        <%= link_to gravitar_for(@article.user), @article.user %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <%= @article.description %>
        <br>
        Created <%= time_ago_in_words(@article.created_at) %> ago,
        edited <%= time_ago_in_words(@article.updated_at) %> ago.
      </div>
    </div>
    <footer class="card-footer">
      <% if logged_in? && @article.user == current_user %>
        <%= link_to 'Edit', edit_article_path(@article), class: "card-footer-item"%>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "card-footer-item" %>
      <% end %>
    </footer>
  </div>
</div>

<div class="buttons container">
  <%= link_to "Return", articles_path, class: "button is-primary" %>
</div>
