<h1 class="has-text-centered title is-2 mt-4"><%= @user.username %> profile</h1>

<%= gravitar_for @user, size: 200 %>

<div class="has-text-centered mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "button is-info is-outlined" %>
</div>

<h3 class="has-text-centered title is-4 mt-4">Articles</h3>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>


