<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" >
    <%= link_to "Alpha Blog", root_path, class: "navbar-item", id: "logo" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Bloggers", users_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Articles
        </a>

        <div class="navbar-dropdown">
          <%= link_to "List all articles", articles_path, class: "navbar-item" %>
          <%= link_to "Create new article", new_article_path, class: "navbar-item" %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%= link_to current_user.username, current_user, class: "button is-normal" %>
            <%= link_to 'Log out', logout_path, method: :delete, class: "button is-danger" %>
          <% else %>
            <%= link_to 'Sign up', signup_path, class:"button is-primary" %>
            <%= link_to 'Log in', login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>