<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" >
    <%= link_to "Alpha Blog", root_path, class: "navbar-item", id: "logo" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Bloggers", users_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Articles
        </a>

        <div class="navbar-dropdown">
          <%= link_to "List all articles", articles_path, class: "navbar-item" %>
          <% if logged_in? %>
            <%= link_to "Create new article", new_article_path, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
      <% if logged_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Profile [<%= current_user.username %>]
          </a>
          <div class="navbar-dropdown">
            <%= link_to "View your profile", user_path(current_user), class: "navbar-item" %>
            <%= link_to "Edit account", edit_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Delete profile", user_path(current_user), class: "has-text-danger navbar-item", method: :delete,
                                          data: { confirm: "Are you sure?" }%>
          </div>
        </div>
      <% end %>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%= link_to 'Log out', logout_path, method: :delete, class: "button is-danger" %>
          <% else %>
            <%= link_to 'Sign up', signup_path, class:"button is-primary" %>
            <%= link_to 'Log in', login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>